.contents
  .contents__group
    .contents__group__name
      グループ名
    .contents__group__members
      メンバー
    .contents__group__edit
      Edit
  = render "message"
  .contents__form
    .contents__form__textarea
      %input{:placeholder => "type a messeage", :type => "textarea"}/
      = link_to '/messages' do
        .i.far.fa-image
    .contents__form__send
      Send
