.navber__groups
  .navber__groups__name
    グループA
  .navber__groups__messeage
    新着メッセージA
  .navber__groups__name
    グループB
  .navber__groups__messeage
    新着メッセージB
  .navber__groups__name
    グループC
  .navber__groups__messeage
    新着メッセージC
