!!!
.html{lang: "ja"}
  .head
    .meta{charset: "utf-8"}
  .body
    .wrapper
      .navber
        .navber__private
          個人情報
        .navber__groups
          グループ一覧
      .contents
        .contents__group
          現グループ
        .contents__messeages
          メッセージ一覧
        .contents__form
          フォーム

